*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", serif;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
}

.d-flex{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
}

.space-between{
    justify-content: space-between;
}

.align-content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Contenitori */
.header-side{
    width: 20%;
    padding: 10px;
}

.header-center{
    width: 60%;
    text-align: center;
    padding: 10px;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.content{
    height: 300px;
    border: 2px dashed #000;
    margin: 20px 0;
}

.mini-content{
    height: 300px;
    border: 2px dashed #fff;
}

.foot{
    height: 80px;
    border: 1px solid #000;
    margin-top: 10px;
}

.foot-btn{
    width: 100px;
    border: 2px dashed #000;
    margin: 25px 0;
}

.col-home{
    width: 65%;
    margin: auto;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.col-30{
    width: 30%;
}

.col-100{
    width: 100%;
}

/* Elements */
.small-button{
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    margin: 7px auto;
    border-radius: 20px; 
}

/* Utility */
.bg-lightblue{
    background-color: #255EE9;
}

.bg-white{
    background-color: #fff;
}

.bg-lightgrey{
    background-color: #F6F6F6;
}

.bg-darkgrey{
    background-color: #23272A;
}

.white-btn{
    background-color: white;
    color: #000;
}