*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", serif;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
}

h1{
    font-size: 50px;
    margin: 0.5em auto;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    text-decoration: none;
    font-size: 20px;
}

p{
    margin: 15px auto ;
    line-height: 1.5;
}


/* Flexbox tools */
.inline-block{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.space-between{
    justify-content: space-between;
}

.align-content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.align-content-left{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Contenitori */
.header-side{
    width: 20%;
    padding: 10px;
}

.header-center{
    width: 60%;
    text-align: center;
    padding: 10px;
}

.logo{
    height: 50px;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.content{
    margin: 30px auto;
}

.foot{
    border: 1px solid #000;
    margin-top: 10px;
}

.footer-about{
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 10px;
    color: #fff;
}

.footer-about div{
    margin-top: 15px;
}

.foot-btn{
    width: 100px;
    border: 2px dashed #000;
    margin: 25px 0;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-home{
    width: 70%;
    color: #fff;
}

.col-100{
    width: 100%;
}

.img-paragraph{
    width: 100%;
    padding: 10px;
}

.stars{
    width: 700px;
    height: 120px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
}

/* Elements */
.small-button{
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    margin: 7px auto;
    border-radius: 20px; 
}

.button{
    display: inline-block;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 25px; 
}

.jumbo-background{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 600px;
}

.social-icon{
    margin: 10px 30px 0px 0px;
}

.ITA{
    height: 20px;
    margin: 20px 0 15px 0;
}
.ITA img{
    height: 20px;
    margin-right: 10px;
}

/* Utility */
.blue-text{
    color: #8EA1E1;
}

.bg-lightblue{
    background-color: #255EE9;
}

.bg-white{
    background-color: #fff;
}

.bg-lightgrey{
    background-color: #F6F6F6;
}

.bg-darkgrey{
    background-color: #23272A;
}

.white-btn{
    background-color: white;
    color: #000;
}

.black-btn{
    background-color: #23272A;
    color: #fff;
}

.blue-btn{
    background-color: #8EA1E1;
    color: #fff;
}

.text-center{
    text-align: center;
}